@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;900&family=Tilt+Neon&display=swap');

body {
    background-color: #03001C;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

#calculator {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: antiquewhite;
}

#calculator .calci {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border-bottom: 1px solid #999;
    border-left: 1px solid #999; */
    background-color: peachpuff;
}

#calculator .calci>div {
    border-top: 2px solid #03001C;
    border-right: 2px solid #03001C;
    border-radius: 20px;
    font-size: 35px;
}

#calculator .btn {
    border-top: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#calculator .equal {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;

}